# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

dp_example/TAGS
dp_example/emsf
dp_example/blackjack

\#*
*~

.Rhistory

**/*.log

